{% extends "base.html" %}

{% block title %}All posts{% end-block %}

{% block content %}
 <div class="container">
      <h2>All Posts</h2>
      <table class="table table-striped table-bordered">
      <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
<!--            <th>National Code</th>-->
<!--            <th>Phone Number</th>-->
<!--            <th>Address</th>-->
          </tr>
        </thead>
        <tbody>

         {% for post in posts %}

          <tr>
              <td><a class="text-decoration-none link-dark" href="{% url 'post_details' post.id %}">{{post.title}}</a></td>
              <td>{{post.author}}</td>
              <td>{{post.image}}</td>
<!--              <td>{{user.national_code}}</td>-->
<!--              <td>{{user.phone_number}}</td>-->
<!--              <td>{{user.address}}</td>-->
          </tr>
        {% end-for %}
        </tbody>
      </table>
    </div>

{% end-block %}
