{% extends "base.html" %}
{% block title %}Post details{% endblock %}
{% block content %}
    <div class="container">
      <h2>{{post.title|capfirst}} </h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-text"> {{post.body}} <br> <br>Author:  {{post.author|capfirst}}
                <br>Email:
                {{post.author.email}}
                <div>
                  <hr style="width:100%;text-align:left;margin-left:0">
                  Comments:
                  <br>
                  {% if comments %}
                  <ul>

                  {% for comment in comments %}
                      <li>
                        {{comment}}
                        <br> {{comment.createdAt}}
                        <hr style="width:50%;text-align:left;margin-left:0">
                      </li>
                  {% endfor %}
                    <small>{{comments_count}} comments</small>
                  </ul>
                  {%else%}
                  <ul>
                    <li>
                      "No Comments for this post yet..!"
                    </li>
                  </ul>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
          <br>
          <form action="#" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="creatAt" value="{{}}">
            <br>
            <input type="submit" value="Add"></form>
        </div>
      </div>
    </div>

{% endblock %}