* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;

}

body {
    font-family: sans-serif;
    direction: ltr;
    padding-left: 6rem;
    padding-right: 6rem;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-aboutMe {
    width: 70%;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #f1f1f1;
    padding: 3rem;

}

.container-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #2e3dc7;
    box-shadow: 4px 4px 8px #f1f1f1;
    padding: 2rem;
    align-items: center;
    gap: 2.4rem;
    color: #ffffff;

}

.bottom-ranges {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

.personal_details {
    margin-top: 3rem;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 1.2rem;

}

li span {
    font-weight: bolder;
    font-size: 18px;

}

.personal_details {
    font-size: 16px;

}

p {
    margin-top: 2rem;
    color: rgb(71, 62, 62);
    line-height: 2rem;
    font-style: oblique;
}

.container-info h4,
h6 {
    color: rgb(221, 206, 188);

}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-media svg {
    /* background-color: white; */
    width: 1.3em;
    height: 1.3em;
    fill: #f1f1f1;
}

.container-info img {
    width: 70%;
    height: auto;
    border-radius: 120px;
}

.aboutMe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container-info h1 {
    font-size: 38px;
}

div .containerInfo-footer {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 60%;
    gap: 1.2rem;
    font-size: 14px;
    color: rgb(221, 206, 188);
    font-weight: lighter;
}

.aboutMe-header h4 {
    display: inline-block;
    color: #c51d7a;
    font-weight: bold;
}

.aboutMe-header button {
    background-color: #2e3dc7;
    padding: 0%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    height: 1.5rem;
    width: 7rem;
}