{% extends 'base.html' %}
{% block content %}


<div class="col-3 ">
  <div class="hidden" id="edit-form-container">

    <form action="/update/{{person.id}}" method="post" id="edit-form"> 
        <h6 class="mb-1  ">حساب کاربری</h6>

      <div class="form-floating mb-3 mt-5" id="signUp-form">
        <input type="text" class="form-control" placeholder="نام" name="input-name" id="input-name" value="{{person.first_name}}"/>
        <label for="input-name">نام</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" class="form-control" placeholder="نام خانوادگی" name="input-lastname" id="input-lastname" value="{{person.last_name}}"/>
        <label for="input-lastname">نام خانوادگی</label>

      </div>
      <div class="form-floating mb-3" >
        <input type="email"class="form-control" placeholder="اینیل" name="input-email" id="input-email" value="{{person.email}}" />
        <label for="input-email">ایمیل</label>

      </div>
      <div class="form-floating mb-3" >
        <input type="tel" class="form-control" placeholder="شماره تماس" name="input-phon-number" id="input-phon-number" value="{{person.phone_number}}" />
        <label for="input-phon-number">شماره تلفن</label>

      </div>
      <div>
         <a id="apdate-a" href="/update/{{ id }}" class="btn btn-success">به روزرسانی</a>

      </div>
  
    </form>

  </div>

  <div class="" id="add-form-container" >
      <form action="" id="add-form"> 
          <h6 class="mb-3  ">حساب کاربری</h6>

        <div class="form-floating mb-3 mt-5" id="signUp-form">
          <input type="text" class="form-control" placeholder="نام" name="input-name" id="input-name" />
          <label for="input-name">نام</label>
        </div>
        <div class="form-floating mb-3" >
          <input type="text" class="form-control" placeholder="نام خانوادگی" name="input-lastname" id="input-lastname" />
          <label for="input-lastname">نام خانوادگی</label>

        </div>
        <div class="form-floating mb-3" >
          <input type="email"class="form-control" placeholder="اینیل" name="input-email" id="input-email" />
          <label for="input-email">ایمیل</label>

        </div>
        <div class="form-floating mb-3" >
          <input type="tel" class="form-control" placeholder="شماره تماس" name="input-phon-number" id="input-phon-number" />
          <label for="input-phon-number">شماره تلفن</label>

        </div>
        <div>
          

           <a id="add-a" href="/add" class="btn btn-success w-100">عضویت</a>
        </div>
      </form>
  </div>

</div>
<div class="col-9">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>ایمیل</th>
                <th width="200">شماره تلفن</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in persons %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.first_name }}</td>
                    <td>{{ p.last_name }}</td>
                    <td>{{ p.email }}</td>
                    <td>{{ p.phone_number }}</td>
                    <td>
                        <a id="edit-a" href="/edit/{{ p.id }}" class="btn btn-success">ویرایش</a> 
                        <a href="/delete/{{ p.id }}" class="btn btn-danger">حذف</a>  
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>

 
{% endblock content %}