{% extends "base.html" %}
{% block title %}user details{% endblock %}
{% block content %}

    <div class="container">
      <h2>{{user.first_name|capfirst}} {{user.last_name|capfirst}}</h2>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User details:</h5>
              <div class="card-text">
                National Code: {{user.national_code}} <br>Phone Number: {{user.phone_number}}
                <br>Address:
                  <ul>
                    {% for address in addresses %}
                    <li>
                      {{address}}
                      <hr style="width:50%;text-align:left;margin-left:0">
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock %}